@charset "UTF-8";
.home {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 120px 0;
}

.home-bg-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.home-bg-slider .slick-list {
  width: 100%;
  height: 100%;
}
.home-bg-slider .slick-track {
  height: 100%;
}
.home-bg-slider__item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-bg-slider__item > img:not(.img-decor) {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-decor {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-decor1 {
  left: 0;
  top: 0;
}

.img-decor2 {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 1514px;
  padding: 0 16px;
  width: 100%;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home-overlay {
  padding: 24px;
  width: 100%;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#A7CCE1), to(#FFF)) 1;
     border-image: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%) 1;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  position: relative;
  z-index: 1;
}
.home-overlay .decor-line1 {
  width: 217px;
}
.home-overlay .decor-line2 {
  height: 120px;
}
.home-overlay .decor-line3 {
  width: 214px;
  height: 1px;
  left: 100%;
  bottom: -1px;
  background: linear-gradient(268deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
}
.home-overlay .decor-line4 {
  width: 1px;
  height: 120px;
  top: 100%;
  left: -1px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(#FFF));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
}

.home-wrapper {
  width: 100%;
  min-height: 675px;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#A7CCE1), to(#FFF)) 1;
     border-image: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%) 1;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-slider {
  max-width: 682px;
  width: 100%;
}
.home-slider-item {
  width: 100%;
  position: relative;
  padding: 72px;
}
.home-slider .box-text-md {
  margin: 16px 0 62px;
  max-width: 500px;
}
.home-slider__nav {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  border: 1px solid #D8E0E5;
}

.home-image-slider {
  position: absolute;
  left: 445px;
  top: -115px;
  max-width: 1100px;
  z-index: -1;
}

.decor-line {
  position: absolute;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(#A7CCE1), to(rgba(167, 204, 225, 0)));
  background: linear-gradient(180deg, #A7CCE1 0%, rgba(167, 204, 225, 0) 100%);
}

.decor-line1 {
  height: 1px;
  right: 100%;
  top: -1px;
  background: linear-gradient(267deg, #A7CCE1 0%, rgba(167, 204, 225, 0) 100%);
}

.decor-line2 {
  right: -1px;
  bottom: 100%;
  width: 1px;
  background: -webkit-gradient(linear, left bottom, left top, from(#A7CCE1), to(rgba(167, 204, 225, 0)));
  background: linear-gradient(0deg, #A7CCE1 0%, rgba(167, 204, 225, 0) 100%);
}

.about {
  padding: 113px 0 253px;
  background: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.about .title-overlay {
  bottom: 0;
  top: auto;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #f2f6f8;
  font-size: 260px;
  opacity: 1;
}

.about-image {
  position: relative;
  z-index: 1;
  background: #fff;
  border: 1px solid #87c3e5;
  padding: 24px;
  width: 100%;
  height: 357px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-image__bg {
  width: 100%;
  height: 100%;
  border: 1px solid #87c3e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-image__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-image__img {
  position: absolute;
  z-index: 1;
  left: 188px;
  top: -145px;
  max-width: 405px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-image__img img {
  width: 100%;
}
.about-image .decor-line1 {
  width: 754px;
}
.about-image .decor-line2 {
  height: 123px;
  right: auto;
  left: -1px;
}
.about-image .decor-line3 {
  height: 223px;
  right: -1px;
  bottom: 100%;
  width: 1px;
  background: -webkit-gradient(linear, left bottom, left top, from(#A7CCE1), to(rgba(167, 204, 225, 0)));
  background: linear-gradient(0deg, #A7CCE1 0%, rgba(167, 204, 225, 0) 100%);
}
.about-image .decor-line4 {
  width: 754px;
  height: 1px;
  right: 100%;
  bottom: -1px;
  background: linear-gradient(267deg, #A7CCE1 0%, rgba(167, 204, 225, 0) 100%);
}

.about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}
.about-box__icon {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 62px;
  height: 62px;
  min-width: 62px;
  margin: 0 24px 0 0;
}
.about-box__text {
  max-width: 270px;
}

.our-factory {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 109px 0 168px;
}
.our-factory__content {
  position: relative;
  z-index: 2;
  min-width: 605px;
  border: 1px solid #87c3e5;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  margin: 0 auto 0 0;
  float: right;
  padding: 48px;
}
.our-factory__content .box-text {
  font-weight: 500;
  margin: 48px 0;
}
.our-factory__content .decor-line3 {
  right: 0;
  top: 100%;
  width: 1px;
  height: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#A7CCE1), to(rgba(167, 204, 225, 0)));
  background: linear-gradient(180deg, #A7CCE1 0%, rgba(167, 204, 225, 0) 100%);
}
.our-factory__video {
  height: 542px;
  position: relative;
  z-index: 1;
  max-width: 934px;
  width: 100%;
  margin: 0 0 0 auto;
  padding: 24px;
  background: #fff;
  border: 1px solid #87c3e5;
}
.our-factory__video .decor-line1 {
  top: auto;
  bottom: 100%;
  width: 1px;
  height: 120px;
  background: -webkit-gradient(linear, left bottom, left top, from(#A7CCE1), to(rgba(167, 204, 225, 0)));
  background: linear-gradient(0deg, #A7CCE1 0%, rgba(167, 204, 225, 0) 100%);
}
.our-factory__video::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 110px;
  background: url("../img/play.svg") no-repeat center;
  background-size: 100%;
}
.our-factory__video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #87c3e5;
}

.our-production {
  padding: 112px 0 118px;
  overflow: hidden;
}

.our-production-card {
  width: 100%;
  height: 100%;
  min-height: 489px;
  background: #fff;
  border: 1px solid transparent;
  padding: 24px;
}
.our-production-card.bg-accent-blue {
  border-color: #87c3e5;
}
.our-production-card.bg-accent-blue .our-production-card__wrapper {
  background: #87c3e5;
}
.our-production-card.bg-accent-green {
  border-color: #a3d076;
}
.our-production-card.bg-accent-green .our-production-card__wrapper {
  background: #a3d076;
}
.our-production-card.bg-accent-turquoise {
  border-color: #76d0b5;
}
.our-production-card.bg-accent-turquoise .our-production-card__wrapper {
  background: #76d0b5;
}
.our-production-card__image {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: -1;
}
.our-production-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-production-card__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 20px 25px;
}
.our-production-card__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.our-production-card__title {
  color: #fff;
  margin: 0 0 8px;
}
.our-production-card__title:hover {
  color: #fff;
}
.our-production-card__overlay {
  position: absolute;
  z-index: -1;
  font-size: 240px;
  font-family: "Pobeda", sans-serif;
  line-height: 200px;
  font-weight: bold;
  color: #fff;
  opacity: 0.1;
  left: 0;
  top: 0;
}

.sales-geography {
  padding: 114px 0 118px;
  overflow: hidden;
}
.sales-geography .title-overlay {
  color: #f2f6f8;
}
.sales-geography__map {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sales-geography__map img {
  width: 100%;
}
.sales-geography__content {
  position: relative;
  z-index: 1;
  margin: auto 0 0 auto;
  max-width: 606px;
  width: 100%;
  border: 1px solid #76d0b5;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  padding: 54px;
}
.sales-geography__content h3 {
  max-width: 390px;
}
.sales-geography .decor-line1 {
  width: 251px;
  right: 100%;
  top: 100%;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(#76D0B5), to(rgba(118, 208, 181, 0)));
  background: linear-gradient(270deg, #76D0B5 0%, rgba(118, 208, 181, 0) 100%);
}
.sales-geography .decor-line2 {
  width: 1px;
  height: 341px;
  left: 100%;
  bottom: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#76D0B5), to(rgba(118, 208, 181, 0)));
  background: linear-gradient(0deg, #76D0B5 0%, rgba(118, 208, 181, 0) 100%);
}

.sales-geography-wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 490px 20px 120px;
}

.list-country {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 24px 0 0;
  text-transform: capitalize;
  font-weight: 500;
  max-width: 350px;
}
.list-country li {
  padding: 16px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 24px 0 0;
}
.list-country li:last-child {
  margin: 0;
}
.list-country li::before {
  content: "";
  display: inline-block;
  margin: 0 8px 0 0;
  width: 4px;
  height: 4px;
  min-width: 4px;
  background: #87c3e5;
}

.dealers {
  background: url("../img/dealers-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 120px 0 0;
}
.dealers h2 {
  max-width: 520px;
  margin: 0 auto 29px;
}
.dealers .btn {
  margin: 0 auto;
}

.text-overlay {
  text-align: center;
  width: 100%;
  margin: 0 auto -52px;
  font-size: 195px;
  font-family: "Pobeda", sans-serif;
  font-weight: bold;
  line-height: 170px;
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.4;
  -webkit-text-stroke: 1px #fff;
}

.dealers-overlay {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 984px;
  padding: 24px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #f2f6f8;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  text-align: center;
}
.dealers-overlay .decor-line1 {
  width: 467px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#FFF));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
}
.dealers-overlay .decor-line2 {
  height: 120px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
}
.dealers-overlay .decor-line3 {
  width: 466px;
  height: 1px;
  left: 100%;
  top: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#FFF));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
}
.dealers-overlay .decor-line4 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(#FFF));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
  height: 120px;
  width: 1px;
  top: 100%;
  right: 100%;
}

.dealers-wrapper {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 47px;
}

.slogan {
  margin: 0 auto 29px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Adagioscript", sans-serif;
}

.our-news {
  padding: 120px 0;
}
.our-news .subtitle-text {
  margin: -15px 0 0;
}

.news-card {
  width: 100%;
  height: 100%;
}
.news-card__img {
  padding: 24px;
  width: 100%;
  height: 351px;
  background: #fff;
  border: 1px solid transparent;
  border-bottom: none;
}
.news-card__img img {
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-card__body {
  width: 100%;
  background: #fff;
  padding: 24px;
  border: 1px solid transparent;
}
.news-card .box-text {
  margin: 10px 0 24px;
  max-width: 420px;
}
.news-card-green .news-card__img {
  border-color: #a3d076;
}
.news-card-green .news-card__img img {
  border-color: #a3d076;
}
.news-card-green .news-card__body {
  border-color: #a3d076;
}
.news-card-blue .news-card__img {
  border-color: #87c3e5;
}
.news-card-blue .news-card__img img {
  border-color: #87c3e5;
}
.news-card-blue .news-card__body {
  border-color: #87c3e5;
}

.reviews {
  padding: 111px 0 27px;
  background: #fff;
  overflow: hidden;
}
.reviews .title-overlay {
  left: -50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.reviews h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.reviews-slider {
  padding: 0 114px;
}
.reviews-slider .slick-slide {
  padding: 0 12px;
}
.reviews-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.reviews-slider .slick-arrow {
  position: absolute;
  bottom: 0;
}
.reviews-slider .slick-prev {
  left: 0;
}
.reviews-slider .slick-next {
  right: 0;
}
.reviews-slider__nav {
  margin: 15px 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.reviews-card {
  padding: 40px 30px 40px 40px;
  background: #fff;
  width: 100%;
  border: 1px solid #87c3e5;
}
.reviews-card__position {
  color: #87c3e5;
  font-family: "Adagioscript", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.reviews-card .box-text {
  margin: 32px 0 0;
  max-width: 437px;
}

.callback-section {
  background: url("../img/callback-bg.png") no-repeat center 64px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 120px 0 0;
}
.callback-section .text-overlay {
  text-align: right;
  max-width: 1037px;
  margin: 0 auto -52px;
}
.callback-section h2 {
  text-align: center;
}

.callback-overlay {
  text-align: left;
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#A7CCE1), to(#FFF)) 1;
     border-image: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%) 1;
}
.callback-overlay .decor-line1 {
  width: 468px;
  background: -webkit-gradient(linear, right top, left top, from(#A7CCE1), to(#FFF));
  background: linear-gradient(270deg, #A7CCE1 0%, #FFF 100%);
}
.callback-overlay .decor-line2 {
  height: 120px;
  background: -webkit-gradient(linear, left bottom, left top, from(#A7CCE1), to(#FFF));
  background: linear-gradient(0deg, #A7CCE1 0%, #FFF 100%);
}
.callback-overlay .decor-line3 {
  width: 466px;
  height: 1px;
  left: 100%;
  top: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#FFF));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
}
.callback-overlay .decor-line4 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(#FFF));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
  height: 120px;
  width: 1px;
  top: 100%;
  right: 100%;
}

.callback-wrapper {
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#A7CCE1), to(#FFF)) 1;
     border-image: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%) 1;
  padding: 54px;
}
.callback-wrapper .box-text {
  max-width: 341px;
  text-align: center;
  margin: 0 auto;
}

.consent {
  max-width: 358px;
}

.card-col {
  display: none;
}
.card-col:nth-child(-n+6) {
  display: block;
}

.contacts-section {
  padding: 120px 0 108px;
}

.contacts-box {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 48px;
  border: 1px solid #87c3e5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.contacts-box:hover {
  -webkit-box-shadow: 24px -24px 0px 0px #87C3E5;
          box-shadow: 24px -24px 0px 0px #87C3E5;
}
.contacts-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #87c3e5;
  fill: #fff;
  margin: 0 auto 22px;
  padding: 15px;
  width: 62px;
  height: 62px;
}
.contacts-box h4 {
  margin: 0 auto 8px;
}
.contacts-box__link {
  margin: 0 auto 20px;
  text-decoration: underline;
  color: #6fafd3;
}
.contacts-box__link:last-child {
  margin: 0 auto;
}

.address-manufacturer {
  position: relative;
  z-index: 1;
}
.address-manufacturer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  background: #fff;
}
.address-manufacturer .address-box {
  margin: 16px auto;
}
.address-manufacturer__map {
  width: 100%;
  height: 600px;
  background: #fff;
  border: 1px solid #87c3e5;
  padding: 24px;
}
.address-manufacturer__map iframe {
  width: 100%;
  height: 100%;
}

.advantages-work {
  position: relative;
  z-index: 1;
}
.advantages-work h2 {
  margin: 113px 0 54px;
  width: 50%;
}
.advantages-work__img {
  background: #fff;
  border: 1px solid #87c3e5;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 618px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.advantages-work__img img {
  width: 100%;
  border: 1px solid #87C3E5;
}

.advantages-work__img1 {
  margin: -80px 0 -112px;
}

.advantages-work-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.advantages-work-list-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #87c3e5;
  padding: 24px;
}
.advantages-work-list-item:first-child, .advantages-work-list-item:nth-child(2) {
  border-bottom: none;
}
.advantages-work-list-item:nth-child(odd) {
  border-right: none;
}
.advantages-work-list-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 62px;
  height: 62px;
  min-width: 62px;
  padding: 11px;
}
.advantages-work-list-item__text {
  padding: 0 0 0 24px;
}

.advantages-work__img2 {
  -webkit-box-shadow: -24px 24px 0px 0px #87C3E5;
          box-shadow: -24px 24px 0px 0px #87C3E5;
  max-width: 372px;
  margin: 0 0 0 auto;
  border-top: none;
}

.advantages-work-column {
  width: 50%;
}
.advantages-work-column:nth-child(2) {
  margin: -30px 0 0;
}

.cooperation-section {
  padding: 240px 0 0;
}
.cooperation-section .text-overlay {
  text-align: left;
  max-width: 984px;
}
.cooperation-section .box-text {
  max-width: 380px;
}
.cooperation-section .decor-line2 {
  height: 240px;
}

.payments-section {
  padding: 120px 0 100px;
}

.payments-card {
  position: relative;
  z-index: 1;
  width: 100%;
  background: #fff;
  border: 1px solid #87c3e5;
  padding: 48px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.payments-card:hover {
  -webkit-box-shadow: 40px 40px 0px 0px #87C3E5;
          box-shadow: 40px 40px 0px 0px #87C3E5;
}
.payments-card h2, .payments-card .h2 {
  color: #6fafd3;
}
.payments-card-box {
  margin: 48px 0 0;
}
.payments-card h3 {
  margin: 0 0 8px;
}
.payments-card__description {
  margin: 48px 0 0;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #6fafd3;
}

.delivery-section {
  padding: 0 0 95px;
}
.delivery-section h3 {
  max-width: 295px;
}

.delivery-title h4 {
  font-family: "Adagioscript", sans-serif;
  line-height: 28px;
}

.delivery-box {
  width: 100%;
  height: 100%;
  padding: 24px;
  text-align: center;
  background: #fff;
  border: 1px solid #87c3e5;
  font-weight: 500;
}
.delivery-box__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  width: 100%;
  margin: 0 auto 16px;
}
.delivery-box__logo img {
  max-height: 100%;
}

.catalog-section {
  padding: 115px 0;
}

.product-card {
  width: 100%;
  position: relative;
  z-index: 1;
  background: #fff;
  border: 1px solid #a3d076;
  overflow: hidden;
}
.product-card__img {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-card__body {
  width: 100%;
  padding: 24px;
}
.product-card__title {
  max-width: 306px;
}
.product-card__title:hover {
  color: #a3d076;
}
.product-card .list-characteristics {
  margin: 16px 0;
}
.product-card__footer {
  width: 100%;
  margin: 16px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.product-card .amount {
  margin: 0 auto 0 0;
}

.btn-add-card {
  width: 100%;
  margin: 0 0 0 16px;
}

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  font-weight: 500;
}

.old-price, .new-price {
  margin: 0 0 8px;
}

.old-price {
  margin: 0 0 8px 16px;
  text-decoration: line-through;
  color: rgba(21, 34, 80, 0.3);
}

.list-characteristics {
  width: 100%;
  font-weight: 500;
}
.list-characteristics li {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 16px;
}
.list-characteristics li:last-child {
  margin: 0;
}
.list-characteristics li::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1px;
  background: #D8E0E5;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.list-characteristics p, .list-characteristics span {
  position: relative;
  background: #fff;
}
.list-characteristics p {
  max-width: 186px;
  padding: 0 16px 0 0;
}
.list-characteristics span {
  text-align: right;
  padding: 0 0 0 16px;
  margin: 0 0 0 auto;
  white-space: nowrap;
}

.product-card-slider {
  width: 100%;
  height: 100%;
}
.product-card-slider .slick-dots {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 0 13px;
}
.product-card-slider .slick-dots li {
  width: 6px;
  height: 6px;
  margin: 0 6px 0 0;
  background: #D8E0E5;
  border: 1px solid #152250;
}
.product-card-slider .slick-dots li:last-child {
  margin: 0;
}
.product-card-slider .slick-dots li.slick-active {
  background: #152250;
}
.product-card-slider__img {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.product-card-slider__img img {
  max-height: 100%;
}

.list-labels {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.list-labels li {
  margin: 0 5px 5px 0;
  padding: 8px 16px;
}
.list-labels li:last-child {
  margin-right: 0;
}

.product-section {
  padding: 16px 0 120px;
}
.product-section h1 {
  margin: 45px 0 16px;
}
.product-section .list-characteristics {
  margin: 16px 0 0;
}
.product-section .list-characteristics li p, .product-section .list-characteristics li span {
  background: #f2f6f8;
}

.product-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 1;
}

.product-max-slider {
  width: calc(100% - 200px - 16px);
  margin: 0 0 0 auto;
}
.product-max-slider .slick-slide {
  background: #fff;
  height: 800px;
  width: 100%;
  border: 1px solid #a3d076;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-max-slider .slick-slide img {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}
.product-max-slider .slick-dots {
  position: absolute;
  bottom: 41px;
  left: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-max-slider .slick-dots li {
  background: #e7eef2;
  border: none;
  width: 8px;
  height: 8px;
  margin: 0 8px 0 0;
}
.product-max-slider .slick-dots li.slick-active {
  background: #a3d076;
}
.product-max-slider .slick-arrow {
  width: 95px;
  height: 95px;
  min-width: 95px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.product-max-slider .slick-next {
  left: 95px;
}

.product-preview-slider {
  max-width: 200px;
  width: 100%;
}
.product-preview-slider .slick-slide {
  margin: 0 0 16px;
  width: 100%;
  height: 256px;
  background: #fff;
  border: 1px solid #a3d076;
  cursor: pointer;
}
.product-preview-slider .slick-slide img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.recommended-products {
  padding: 115px 0;
  overflow: hidden;
}

.recommended-products-slider {
  position: relative;
}
.recommended-products-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 95px;
  height: 95px;
  min-width: 95px;
  padding: 20px;
}
.recommended-products-slider .slick-prev {
  left: -95px;
}
.recommended-products-slider .slick-next {
  right: -95px;
}
.recommended-products-slider .slick-slide {
  padding: 0 12px;
}
.recommended-products-slider .slick-list {
  margin: 0 -12px;
}

.product-content {
  padding: 60px 40px 0;
}
.product-content .box-text {
  margin: 16px 0 0;
}
.product-content__footer {
  margin: 24px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.product-content .price-wrapper {
  margin: 46px 0 0;
  font-size: 32px;
  font-family: "Pobeda", sans-serif;
  font-weight: bold;
}

.link-print {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 16px;
}
.link-print:hover {
  color: #87c3e5;
}
.link-print:hover svg {
  fill: #87c3e5;
}
.link-print svg {
  fill: #a3d076;
  margin: 0 0 0 4px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-content-box {
  margin: 45px 0 0;
}

.basket-section {
  padding: 120px 0;
}
.basket-section h1 {
  color: #505B65;
  margin: 0 0 14px;
}

.form-basket__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-basket .consent {
  font-weight: 500;
  max-width: 478px;
  margin: 0 auto 0 0;
}

.form-basket-total {
  width: 100%;
  background: #fff;
  padding: 32px;
  border: 1px solid #a3d076;
}
.form-basket-total .form-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.form-basket-total .form-row input {
  height: 50px;
}
.form-basket-total .btn-checkout {
  width: 100%;
}
.form-basket-total .list-characteristics {
  margin: 32px 0;
}
.form-basket-total .total-sum {
  color: #505B65;
  font-size: 40px;
  font-family: "Pobeda", sans-serif;
  font-weight: bold;
}

.product-card-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
  background: #fff;
  border: 1px solid #a3d076;
  margin: 0 0 24px;
}
.product-card-row:last-child {
  margin: 0;
}
.product-card-row__img {
  background: #fff;
  width: 91px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #a3d076;
}
.product-card-row__img img {
  max-height: 100%;
}
.product-card-row__body {
  padding: 0 32px;
  width: 345px;
}
.product-card-row .list-characteristics {
  margin: 10px 0 0;
}
.product-card-row .list-characteristics li::before {
  display: none;
}
.product-card-row .price-wrapper {
  font-family: "Pobeda", sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.product-card-row .old-price, .product-card-row .new-price {
  margin: 0;
}
.product-card-row .old-price {
  margin: 0 32px 0 0;
}
.product-card-row .amount {
  margin: 0 24px 0 32px;
  width: 136px;
}

.btn-clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
}

.checkout-section {
  margin: 120px 0 0;
}

.checkout-box {
  width: 100%;
  background: #fff;
  border: 1px solid #87c3e5;
  padding: 32px;
}
.checkout-box h3 {
  margin: 0 0 24px;
}
.checkout-box .box-text {
  margin: 0 0 24px;
}

.result-file {
  margin: 24px 0;
  font-weight: 500;
}

.article-section h2 {
  margin: 0 0 48px;
}

.article-banner {
  margin: -80px 0 0;
  position: relative;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border: 1px solid #87c3e5;
  padding: 24px;
  height: 515px;
}
.article-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #87c3e5;
}

.article-box {
  width: 100%;
  background: #fff;
  padding: 48px;
  border: 1px solid #87c3e5;
}
.article-box h4 {
  margin: 0 0 36px;
}
.article-box__image {
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 32px;
  width: 100%;
  background: #fff;
  border: 1px solid #87c3e5;
}
.article-box__image-img {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #87c3e5;
  height: 307px;
}
.article-box__image-img img {
  border: 1px solid #87c3e5;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-box__image-img.img-max {
  height: 408px;
}
.article-box__image-body {
  padding: 16px;
  text-align: center;
  width: 100%;
  border: 1px solid #87c3e5;
}
.article-box__content h3 {
  margin: 0 0 40px;
}

.article-menu {
  font-weight: 500;
}
.article-menu li {
  margin: 0 0 36px;
}
.article-menu li:last-child {
  margin: 0;
}
.article-menu li ul {
  padding: 0 0 0 24px;
  margin: 36px 0 0;
}
.article-menu li ul ul {
  padding: 0 0 0 24px;
}
.article-menu li a {
  color: #152250;
}
.article-menu li a:hover, .article-menu li a:active, .article-menu li a.active {
  color: #87c3e5;
}

.article-box-info {
  width: 100%;
  background: #fff;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #87c3e5;
  margin: 0 0 24px;
  font-weight: 500;
}
.article-box-info:last-child {
  margin: 0;
}
.article-box-info__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #87c3e5;
  width: 48px;
  height: 48px;
  min-width: 48px;
  margin: 0 24px 0 0;
}

.box-subtext {
  max-width: 605px;
  margin: 43px auto 0;
}

.quote {
  overflow: hidden;
  padding: 28px 0 28px 0;
  max-width: 800px;
  width: 100%;
  margin: 48px auto;
  position: relative;
  z-index: 1;
}
.quote::before {
  content: "”";
  position: absolute;
  font-family: "Pobeda", sans-serif;
  font-size: 200px;
  font-weight: bold;
  line-height: 190%;
  letter-spacing: 10px;
  right: -30px;
  top: -122px;
  z-index: -1;
}
.quote-content {
  width: 100%;
  padding: 0 80px 0 32px;
  border-left: 4px solid #152250;
}
.quote .box-text {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1.15px;
  font-style: italic;
  line-height: 190%;
}

.quote-author {
  font-size: 18px;
  margin: 32px 0 0;
  letter-spacing: 0.9px;
  line-height: 190%;
}

.article-slider {
  width: calc(100% + 2px);
}
.article-slider__nav {
  margin: 0 auto;
  padding: 0;
}
.article-slider__nav .slick-arrow {
  width: 74px;
  height: 74px;
  min-width: 74px;
  padding: 10px;
  margin: 0 24px 0 0;
}
.article-slider__nav .slick-next {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0 0 0 24px;
}
.article-slider__img {
  background: #fff;
  padding: 24px;
  border: 1px solid #87c3e5;
  width: 100%;
  height: 321px;
}
.article-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #87c3e5;
}

.page-about {
  padding: 120px 0 0;
}
.page-about .nav-tabs {
  margin: 70px 0 -1px;
}

.tehnology-wrapper {
  position: relative;
  z-index: 1;
  margin: 58px 0 0;
}
.tehnology-wrapper .decor-line1 {
  height: 776px;
  width: 1px;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/line1.svg") no-repeat center top;
  background-size: 100%;
  z-index: 1;
  display: block;
}

.tehnology-image {
  position: relative;
  margin: -130px 42px 0 auto;
  z-index: 1;
  background: #F2F6F8;
  max-width: 1353px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tehnology-image .text-overlay {
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100%;
  bottom: 0;
  opacity: 0.2;
  color: #D8E0E5;
}
.tehnology-image img {
  mix-blend-mode: multiply;
}

.tehnology-box {
  padding: 24px;
  background: #fff;
  border: 1px solid #87c3e5;
  max-width: 395px;
}
.tehnology-box.tehnology-box1 {
  text-align: right;
  margin-left: auto;
}
.tehnology-box.tehnology-box2 {
  text-align: left;
  max-width: 458px;
}

.properties {
  background: url("../img//properties-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 120px 0 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.properties .decor-line1 {
  width: 217px;
}
.properties .decor-line2 {
  height: 120px;
}
.properties .decor-line3 {
  width: 120px;
}
.properties .decor-line4 {
  height: 120px;
}
.properties-overlay {
  max-width: none;
  background: rgba(78, 137, 119, 0.2);
}
.properties-wrapper {
  background: rgba(78, 137, 119, 0.3);
  color: #fff;
  text-align: left;
}
.properties .text-overlay {
  text-align: left;
}
.properties h2 {
  margin: 0 0 32px;
}
.properties h3 {
  margin: 0 0 8px;
}
.properties .list-cube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 370px;
  text-transform: capitalize;
  font-weight: 500;
}
.properties .list-cube li {
  padding: 16px 0;
  margin: 0 32px 0 0;
}
.properties .list-cube li:last-child {
  margin: 0;
}

.vitamins-section h3 {
  margin: 0 0 8px;
}
.vitamins-section .box-text {
  max-width: 390px;
}

.list-vitamins {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vitamins-item {
  margin: 0 24px 16px 0;
  padding: 16px 16px 0px 16px;
  height: 96px;
  text-align: center;
  background: #fff;
  border: 1px solid #76d0b5;
}
.vitamins-item span {
  margin: 0 auto 8px;
  display: block;
  font-size: 11px;
  font-weight: 500;
}
.vitamins-item .h2 {
  color: #76d0b5;
}
.vitamins-item:last-child {
  margin: 0 0 16px;
}

.influence {
  position: relative;
  z-index: 1;
  padding: 122px 0 108px;
  background: #fff url("../img/influence-bg.png") no-repeat 129px bottom;
  background-size: 1072px;
}
.influence::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  background: #f2f6f8;
  width: 316px;
  left: 0;
  top: 0;
}
.influence h2 {
  margin: 0 0 32px;
}

.influence-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.influence-box {
  padding: 24px;
  max-width: 354px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border: 1px solid transparent;
  margin: 0 24px 17px 0;
}
.influence-box:first-child {
  margin: 40px 24px 17px 0;
}
.influence-box:last-child {
  margin: 0 0 0 125px;
}
.influence-box h3 {
  margin: 0 0 24px;
}
.influence-box-green {
  border-color: #a3d076;
}
.influence-box-green h3 {
  color: #a3d076;
}
.influence-box-blue {
  border-color: #87c3e5;
}
.influence-box-blue h3 {
  color: #87c3e5;
}
.influence-box-turquoise {
  border-color: #76d0b5;
}
.influence-box-turquoise h3 {
  color: #76d0b5;
}

.influence-content {
  margin: 72px 0 0;
  max-width: 440px;
}
.influence-content .box-text p {
  margin: 0 0 32px;
}
.influence-content .box-text p:last-child {
  margin: 0;
}

.about-video {
  padding: 120px 0 170px;
}

.about-video-box {
  max-width: none;
  width: 100%;
  height: 796px;
}

.history-company {
  position: relative;
  z-index: 1;
  padding: 143px 0 120px;
  background: #f2f6f8 url("../img/history-bg.png") no-repeat left top;
  background-size: 1072px;
  overflow: hidden;
}

.history-company-list {
  width: 100%;
  position: relative;
  z-index: 1;
}
.history-company-list::before, .history-company-list:after {
  content: "";
  background: #87c3e5;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 626px;
}
.history-company-list::before {
  top: 0;
}
.history-company-list::after {
  bottom: 0;
}

.history-company-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 0 0 120px;
}
.history-company-box::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: #87c3e5;
  right: 630px;
}
.history-company-box h3 {
  margin: 0 0 8px;
}
.history-company-box .h1 {
  font-size: 140px;
  line-height: 124px;
  margin: 0 0 -24px;
}
.history-company-box:last-child {
  padding: 0;
}
.history-company-box:nth-child(even) .history-company-box__date {
  max-width: 630px;
  width: 100%;
  padding: 0 0 0 54px;
  text-align: left;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.history-company-box:nth-child(even) .history-company-box__date::before {
  right: auto;
  left: -4px;
}
.history-company-box:nth-child(even) .history-company-box__content {
  width: calc(100% - 630px);
  padding: 0 54px 0 0;
  text-align: right;
}
.history-company-box__date {
  padding: 0 54px 0 0;
  width: calc(100% - 630px);
  text-align: right;
  color: #87c3e5;
  position: relative;
}
.history-company-box__date::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -4px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #87c3e5;
  width: 8px;
  height: 40px;
}
.history-company-box__content {
  padding: 6px 0 6px 54px;
  max-width: 630px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}