@charset "UTF-8";
/*==========	Desktop First	==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1700px) {
  .recommended-products-slider {
    padding: 0 0 111px;
  }
  .recommended-products-slider .slick-slide {
    padding: 0 8px;
  }
  .recommended-products-slider .slick-arrow {
    top: auto;
    bottom: 0;
    -webkit-transform: none;
            transform: none;
  }
  .recommended-products-slider .slick-prev {
    left: calc(50% - 8px - 95px);
  }
  .recommended-products-slider .slick-next {
    right: calc(50% - 8px - 95px);
  }
}
@media only screen and (max-width: 1500px) {
  .product-card-row .old-price {
    margin: 0 16px 0 0;
  }
  .product-card-row__body {
    padding: 0 16px;
    width: 315px;
  }
  .product-card-row {
    padding: 24px;
  }
}
@media only screen and (max-width: 1400px) {
  .menu {
    font-size: 14px;
  }
  .menu .nav-item {
    margin: 0 15px 0 0;
  }
  .phone {
    font-size: 34px;
  }
  .about .title-overlay {
    font-size: 220px;
  }
  .advantages-work h2 {
    margin: 70px 0 35px;
  }
  .product-card-row {
    padding: 16px;
  }
  .product-card-row .price-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-card-row .price-wrapper .old-price {
    margin: 0 0 8px;
  }
}
@media only screen and (max-width: 1360px) {
  .footer-column-address {
    max-width: 343px;
  }
}
@media only screen and (max-width: 1300px) {
  .nav-menu {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    background: #fff;
    padding: 20px;
    overflow-y: auto;
    max-width: 300px;
    width: 100%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .nav-menu__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu .dropdown-menu {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
    margin: 10px 0 0 !important;
  }
  .nav-menu .header-contacts {
    display: block;
    margin: 30px 0;
  }
  .nav-menu .btn-basket {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .nav-menu .btn-basket span {
    margin: 0 0 0 20px;
  }
  .link-callback {
    margin: 2px 0 0;
  }
  .menu {
    font-size: 18px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu .nav-item {
    margin: 0 0 20px;
    width: 100%;
  }
  .menu .nav-item:last-child {
    margin: 0;
  }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .logo {
    margin: 0 auto 0 0;
  }
  .home-image-slider {
    max-width: 900px;
  }
  .home-slider-item {
    padding: 40px;
  }
  .home-wrapper {
    min-height: 550px;
  }
  h1, .h1 {
    font-size: 70px;
    line-height: normal;
  }
  .about .title-overlay {
    font-size: 180px;
    line-height: normal;
  }
  .advantages-work {
    padding: 64px 0;
  }
  .advantages-work h2 {
    margin: 0 0 16px;
    width: 100%;
  }
  .advantages-work__img1 {
    margin: 0 0 16px;
    max-width: none;
  }
  .advantages-work__img2 {
    margin: 16px 0;
    max-width: none;
    border: 1px solid #87C3E5;
    z-index: -1;
  }
  .advantages-work-column {
    width: 100%;
  }
  .advantages-work-column:nth-child(2) {
    margin: 0;
  }
  .advantages-work-list-item {
    position: relative;
    z-index: 2;
    background: #fff;
  }
}
@media only screen and (max-width: 1200px) {
  .home-image-slider {
    max-width: 650px;
  }
  h1, .h1 {
    font-size: 50px;
  }
  .home-wrapper {
    min-height: 400px;
  }
  .home-slider .box-text-md {
    margin: 8px 0 18px;
  }
  .text-overlay {
    font-size: 150px;
    line-height: normal;
  }
  .about-image__img {
    left: 55%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .our-production-card {
    min-height: 400px;
  }
  .sales-geography {
    padding: 62px 0 65px;
  }
  .slick-arrow {
    width: 80px;
    height: 80px;
    min-width: 80px;
    padding: 13px;
  }
  .reviews-slider {
    padding: 0 68px;
  }
  .footer-column-address {
    max-width: none;
  }
  .footer-column:last-child {
    margin: 54px 0 0;
  }
  .modal-content {
    padding: 64px 16px;
  }
  .form-basket-total {
    margin: 10px 0 0;
  }
  .form-basket .consent {
    max-width: 315px;
  }
  .product-content {
    padding: 16px 0 0;
  }
  .catalog-section h2 {
    text-align: center;
  }
  .list-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 16px auto 0;
  }
  .list-filter li {
    margin: 0;
  }
  .list-filter li a {
    padding: 8px;
  }
}
@media only screen and (max-width: 992px) {
  .box-text-md {
    font-size: 16px;
    line-height: normal;
  }
  .home-image-slider {
    max-width: 500px;
    left: auto;
    right: -100px;
    top: auto;
    bottom: 0;
  }
  .home-image-slider .slick-slide {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .home-image-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .home-slider {
    max-width: 470px;
  }
  .home-slider-item {
    padding: 30px;
  }
  .home .btn-md {
    height: 50px;
    padding: 14px 24px 10px;
    font-size: 24px;
  }
  .slider-nav {
    padding: 5px 16px;
  }
  .counter-slide {
    font-size: 40px;
  }
  .counter-slide::before {
    margin: 0 16px;
  }
  .counter-slide .cp {
    margin: 0 0 -10px;
    min-width: 34px;
  }
  .slick-dots li {
    width: 8px;
    height: 8px;
    margin: 0 8px 0 0;
    border-color: #D8E0E5;
  }
  .text-overlay {
    font-size: 120px;
  }
  .about {
    padding: 57px 0 68px;
  }
  .about .title-overlay {
    display: none;
  }
  .about-image {
    margin: 100px -16px 80px;
    position: relative;
    padding: 16px;
    width: calc(100% + 32px);
  }
  .about-image::before, .about-image::after {
    color: #F2F6F8;
    font-family: "Pobeda", sans-serif;
    font-size: 97.5px;
    line-height: 78.75px;
    font-weight: bold;
    position: absolute;
    left: 0;
    z-index: -1;
  }
  .about-image::before {
    content: "РОДНИКОВАЯ";
    top: -65px;
  }
  .about-image:after {
    content: "ВОДА";
    bottom: -84px;
  }
  .about-image .decor-line {
    display: none;
  }
  .our-factory {
    padding: 65px 0;
  }
  .our-factory__content {
    min-width: auto;
    width: 100%;
    padding: 24px;
  }
  .our-factory__content .box-text {
    margin: 16px 0;
  }
  .our-factory__content .decor-line {
    display: none;
  }
  .our-factory__video {
    max-width: none;
    padding: 16px;
    height: auto;
    margin: 0 0 -1px;
  }
  .our-factory__video .decor-line {
    display: none;
  }
  .title-overlay {
    font-size: 140px;
    line-height: 170px;
  }
  .our-production {
    padding: 85px 0 48px;
  }
  .sales-geography__map {
    position: relative;
  }
  .sales-geography__content {
    max-width: none;
  }
  .sales-geography-wrapper {
    padding: 0;
  }
  .reviews {
    padding: 62px 0;
  }
  footer {
    padding: 64px 0;
    background: #00272b;
  }
  footer::before {
    display: none;
  }
  .footer-column:first-child {
    width: 100%;
    margin: 0 0 54px;
  }
  .map {
    max-width: none;
  }
  .modal-dialog .btn-close {
    right: 41px;
    top: 89px;
  }
  .our-news, .basket-section, .recommended-products {
    padding: 64px 0;
  }
  .product-card-row__title {
    font-size: 24px;
    line-height: normal;
  }
  .product-card-row__body {
    width: 250px;
  }
  .basket-section h1 {
    color: #152250;
  }
  .recommended-products-slider {
    padding: 0 0 80px;
  }
  .recommended-products-slider .slick-arrow {
    padding: 5px;
    width: 64px;
    height: 64px;
    min-width: 64px;
  }
  .recommended-products-slider .slick-prev {
    left: calc(50% - 64px - 8px);
  }
  .recommended-products-slider .slick-next {
    right: calc(50% - 64px - 8px);
  }
  .product-section {
    padding: 32px 0 64px;
  }
  .product-section h1 {
    margin: 0 0 16px;
  }
  .product-content-box {
    margin: 40px 0 0;
  }
  .product-card__title {
    font-size: 30px;
    line-height: normal;
  }
  .article-slider__nav {
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .home {
    padding: 16px 0;
  }
  .img-decor2 {
    margin: 0 auto -56px;
  }
  .img-decor1 {
    max-width: 156px;
  }
  .home-slider-item {
    padding: 24px;
  }
  .home-wrapper {
    min-height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home-overlay {
    padding: 16px;
  }
  .home-slider {
    max-width: none;
  }
  .home-slider__nav {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .home-image-slider {
    position: relative;
    width: 100%;
    top: 0;
    -webkit-transform: none;
            transform: none;
    bottom: 0;
    right: 0;
    max-width: none;
  }
  .dealers h2 {
    font-size: 50px;
  }
  .our-factory__video::before {
    width: 60px;
    height: 60px;
  }
  .news-card__img {
    height: 300px;
  }
  .reviews-card {
    padding: 24px;
  }
  .reviews-card .box-text {
    max-width: none;
  }
  .reviews-slider {
    padding: 0;
  }
  .reviews-slider .slick-slide {
    padding: 0;
  }
  .reviews-slider .slick-arrow {
    position: relative;
    bottom: 0;
    left: 0;
    top: 0;
  }
  .reviews-slider__nav {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .reviews-slider__nav .slick-prev {
    margin: 0 auto 0 0;
  }
  .reviews-slider__nav .slick-next {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 0 auto;
  }
  .callback-section {
    padding: 64px 0 0;
  }
  .form-callback [type=submit] {
    margin: 30px 0 0;
  }
  .consent {
    max-width: none;
  }
  .page, .payments-section {
    padding: 64px 0;
  }
  .contacts-section {
    padding: 64px 0 48px;
  }
  .address-manufacturer {
    padding: 64px 0;
  }
  .address-manufacturer__map {
    padding: 16px;
    height: 450px;
  }
  .payments-card {
    padding: 32px;
  }
  .payments-card__description {
    margin: 32px 0 0;
  }
  .payments-card-box {
    margin: 32px 0 0;
  }
  .delivery-section, .catalog-section {
    padding: 64px 0;
  }
  .product-card-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product-card-row__img {
    width: 90px;
    margin: 0 0 16px;
  }
  .product-card-row__body {
    padding: 0 0 0 16px;
    width: calc(100% - 90px);
    margin: 0 0 16px;
  }
  .product-card-row .price-wrapper {
    margin: 0;
    font-size: 24px;
  }
  .product-card-row .btn-clear {
    margin: 0 auto;
  }
  .product-card-row .amount {
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .checkout-section {
    margin: 64px 0 0;
  }
  .form-basket .consent {
    max-width: none;
  }
  .form-basket [type=submit] {
    margin: 24px 0 0;
  }
  .product-card {
    font-size: 14px;
  }
  .product-card__img {
    height: 193px;
  }
  .product-card__body {
    padding: 12px;
  }
  .product-card__title {
    font-size: 20px;
    line-height: normal;
  }
  .product-card .price-wrapper {
    font-size: 14px;
  }
  .product-card-slider__img {
    height: 193px;
  }
  .product-card-slider .slick-dots {
    padding: 0 0 5px;
  }
  .product-card-slider .slick-dots li {
    width: 3px;
    height: 3px;
    margin: 0 3px 0 0;
  }
  .product-preview-slider {
    display: none;
  }
  .product-max-slider {
    width: 100%;
  }
  .product-max-slider .slick-arrow {
    width: 64px;
    height: 64px;
    min-width: 64px;
    padding: 5px;
  }
  .product-max-slider .slick-next {
    left: auto;
    right: 0;
  }
  .product-max-slider .slick-dots {
    bottom: 30px;
  }
  .product-max-slider .slick-slide {
    height: 370px;
  }
  .page-article {
    padding: 64px 0 157px;
  }
  .article-banner {
    height: 300px;
    margin: -90px 0 0;
  }
  .article-box {
    padding: 24px;
    margin: 0 0 16px;
  }
  .article-box h4 {
    margin: 0 0 16px;
  }
  .article-menu li {
    margin: 0 0 16px;
  }
  .article-menu li ul {
    margin: 16px 0 0;
  }
  .article-box-info {
    margin: 0 0 16px;
  }
  .article-box-info:last-child {
    margin: 0;
  }
  .article-box-info__icon {
    width: 33px;
    height: 33px;
    min-width: 33px;
  }
  .p-120 {
    padding: 64px 0;
  }
  .article-section h2 {
    margin: 0 0 32px;
  }
  .text-article ul, .text-article p {
    margin: 0 0 32px;
  }
  .article-box__image {
    margin: 0 0 48px;
  }
  .article-box__image-img {
    padding: 16px;
  }
  .article-box__image-body {
    padding: 16px;
  }
}
@media only screen and (max-width: 576px) {
  header .header-contacts, header .btn-basket {
    display: none;
  }
  h1, .h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .row {
    margin: 0 -8px;
  }
  .row > * {
    padding: 0 8px;
  }
  .mb-25 {
    margin-bottom: 16px;
  }
  .mb-32 {
    margin-bottom: 24px;
  }
  .mb-35 {
    margin-bottom: 16px;
  }
  .mb-48 {
    margin-bottom: 24px;
  }
  .mb-55 {
    margin-bottom: 32px;
  }
  .mb-60 {
    margin-bottom: 40px;
  }
  .container-fluid {
    padding: 0 16px;
  }
  .title-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text-overlay {
    font-size: 97.5px;
  }
  .img-decor2 {
    margin: 0 auto -25px;
  }
  .about-box__icon {
    margin: 0 16px 0 0;
  }
  .about-image {
    height: 185px;
  }
  .about-image__img {
    max-width: 246px;
    top: -119px;
  }
  .our-factory__video::before {
    width: 40px;
    height: 40px;
  }
  .our-production {
    padding: 62px 0 48px;
  }
  .our-production .title-overlay {
    top: -85px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .our-production .mb-46 {
    margin-bottom: 16px;
  }
  .our-production-card {
    padding: 16px;
    min-height: 360px;
  }
  .our-production-card__wrapper {
    padding: 16px;
  }
  .our-production-card__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .our-production-card.bg-accent-turquoise .our-production-card__image, .our-production-card.bg-accent-green .our-production-card__image {
    height: auto;
    top: auto;
    bottom: 0;
    -webkit-transform: none;
            transform: none;
  }
  .sales-geography .title-overlay {
    top: -85px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .sales-geography__content {
    padding: 24px;
  }
  .list-country {
    margin: 16px 0 0;
  }
  .dealers {
    padding: 64px 0 0;
  }
  .dealers h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .dealers .btn {
    font-size: 24px;
    padding: 14px 24px 10px;
    height: 50px;
  }
  .dealers-overlay {
    padding: 16px;
  }
  .dealers-wrapper {
    padding: 24px;
  }
  .our-news {
    padding: 64px 0;
  }
  .news-card__img {
    height: 250px;
    padding: 16px;
  }
  .news-card__body {
    padding: 16px;
  }
  .news-card__title {
    font-size: 32px;
    line-height: 34px;
  }
  .reviews-slider__nav {
    margin: 0 auto;
  }
  .reviews-slider__nav .counter-slide::before {
    width: 33px;
  }
  .reviews-card .box-text {
    margin: 24px 0 0;
  }
  .callback-section {
    background-size: 750px;
    background-position: center bottom;
  }
  .callback-section .text-overlay {
    font-size: 140px;
    text-align: left;
    margin: 0 auto -70px;
  }
  .callback-wrapper {
    padding: 64px 16px 16px;
  }
  .callback-wrapper .box-text {
    max-width: 280px;
  }
  .callback-wrapper .box-text br {
    display: none;
  }
  .form-callback {
    margin: 30px auto 0;
  }
  .form-callback [type=submit] {
    width: 100%;
  }
  footer .btn-md {
    padding: 14px 24px 10px;
    height: 50px;
    font-size: 24px;
  }
  footer .phone {
    margin: 24px 0;
  }
  .footer-column {
    width: 100%;
    margin: 0 0 54px;
  }
  .footer-column:last-child {
    margin: 0;
  }
  .footer-logo {
    margin: 0 0 24px;
  }
  .map {
    height: 300px;
  }
  .modal-wrapper {
    padding: 64px 16px;
  }
  .modal-title {
    font-size: 40px;
    line-height: 40px;
  }
  .modal-dialog {
    margin: 20px auto;
  }
  .modal-content {
    background-size: 750px;
    background-position: center bottom;
    border: none;
  }
  .address-manufacturer__map {
    height: 300px;
  }
  .advantages-work h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .advantages-work__img {
    padding: 16px;
  }
  .advantages-work-list-item {
    width: 100%;
    border-bottom: none;
  }
  .advantages-work-list-item:last-child {
    border-bottom: 1px solid #87C3E5;
  }
  .advantages-work-list-item:nth-child(odd) {
    border-right: 1px solid #87C3E5;
  }
  .form-basket-total .btn-checkout {
    height: auto;
  }
  .form-basket-total .form-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-basket-total .form-row .btn {
    width: 100%;
  }
  .list-characteristics p {
    padding: 0 10px 0 0;
  }
  .list-characteristics span {
    padding: 0 0 0 10px;
  }
  .form-basket [type=submit] {
    width: 100%;
  }
  .product-card .amount {
    display: none;
  }
  .product-card .price-wrapper {
    font-size: 10px;
  }
  .product-card__footer .btn {
    margin: 0;
  }
  .product-card .old-price {
    margin: 0 0 0 8px;
  }
  .product-card .new-price {
    margin: 0;
  }
  .product-card .list-characteristics {
    margin: 8px 0;
    font-size: 8px;
  }
  .product-content__footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .amount-v2 {
    width: 100%;
    margin: 0 0 16px;
    height: 56px;
  }
  .btn-add-card {
    margin: 0;
  }
  .product-section h1 {
    font-size: 40px;
    line-height: normal;
  }
  .product-content .price-wrapper {
    margin: 40px 0 0;
  }
  .recommended-products h2 {
    font-size: 40px;
    line-height: normal;
  }
  .page-article .mb-48 {
    margin-bottom: 16px;
  }
  .article-banner {
    padding: 16px;
    height: 186px;
  }
  .article-box__image-img {
    height: 240px;
  }
  .article-section .mb-48 {
    margin-bottom: 32px;
  }
  .article-box__content h3 {
    margin: 0 0 32px;
  }
  .quote {
    margin: 32px auto;
    padding: 28px 32px;
  }
  .quote-content {
    padding: 0 60px 0 24px;
  }
  .quote-author {
    margin: 24px 0 0;
  }
  .article-slider {
    width: calc(100% + 32px);
    margin: 0 -16px;
  }
  .article-slider__nav {
    width: calc(100% + 32px);
    margin: 0 -16px;
  }
  .article-slider__nav .slick-prev {
    margin: 0 auto 0 0;
  }
  .article-slider__nav .slick-next {
    margin: 0 0 0 auto;
  }
  .article-slider__img {
    padding: 16px;
    height: 240px;
  }
}
@media only screen and (max-width: 370px) {
  .btn-md {
    padding: 14px 17px 10px;
  }
  .btn-burger {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .logo {
    font-size: 28px;
  }
  .home-slider-item h1, .home-slider-item .h1 {
    font-size: 34px;
    line-height: normal;
  }
  .about-image::before, .about-image::after {
    font-size: 80px;
    line-height: normal;
  }
  .title-overlay {
    font-size: 100px;
    line-height: normal;
  }
  .our-production .title-overlay {
    top: -20px;
  }
  .sales-geography .title-overlay {
    left: 50%;
    top: -65px;
  }
  .dealers h2 {
    font-size: 37px;
  }
  .dealers .text-overlay {
    margin: 0 -60px -50px;
  }
  .dealers-wrapper {
    padding: 16px;
  }
  .list-country li {
    margin: 0 16px 0 0;
  }
  .list-country li:last-child {
    margin: 0;
  }
  .slick-arrow {
    width: 50px;
    height: 50px;
    min-width: 50px;
  }
  .footer-logo {
    font-size: 60px;
  }
  .modal-wrapper {
    padding: 64px 16px;
  }
  .modal-title {
    font-size: 35px;
    line-height: normal;
  }
  .address-manufacturer h2, .callback-section h2 {
    font-size: 52px;
    line-height: normal;
  }
  .pagination .page-link {
    width: 40px;
    height: 40px;
    min-width: 40px;
    font-size: 28px;
  }
  .article-slider__nav .counter-slide::before {
    width: 33px;
  }
  .quote {
    padding: 10px;
  }
  .quote .box-text {
    font-size: 18px;
    line-height: normal;
  }
  .quote::before {
    font-size: 140px;
    top: -80px;
    right: -20px;
  }
}