@font-face {
  font-family: "Pobeda";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Pobeda/Pobeda-Regular.eot");
  src: url("../fonts/Pobeda/Pobeda-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Pobeda/Pobeda-Regular.woff") format("woff"), url("../fonts/Pobeda/Pobeda-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pobeda";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Pobeda/Pobeda-Bold.eot");
  src: url("../fonts/Pobeda/Pobeda-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Pobeda/Pobeda-Bold.woff") format("woff"), url("../fonts/Pobeda/Pobeda-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.ttf") format("truetype");
}
@font-face {
  font-family: "Adagioscript";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Adagioscript/Adagioscript.eot");
  src: url("../fonts/Adagioscript/Adagioscript.eot?#iefix") format("embedded-opentype"), url("../fonts/Adagioscript/Adagioscript.woff") format("woff"), url("../fonts/Adagioscript/Adagioscript.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "AvenirNextCyr", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #152250;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select, .form-control {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "AvenirNextCyr", sans-serif;
  border: 1px solid #152250;
  border-radius: 0;
  width: 100%;
  height: 62px;
  background: #fff;
  color: rgba(21, 34, 80, 0.4);
  font-size: 16px;
  cursor: pointer;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
  color: rgba(21, 34, 80, 0.4);
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder, .form-control::-moz-placeholder {
  color: rgba(21, 34, 80, 0.4);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder, .form-control:-ms-input-placeholder {
  color: rgba(21, 34, 80, 0.4);
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder, .form-control::-ms-input-placeholder {
  color: rgba(21, 34, 80, 0.4);
}
input::placeholder, textarea::placeholder, select::placeholder, .form-control::placeholder {
  color: rgba(21, 34, 80, 0.4);
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus, .form-control:hover, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
input:focus, textarea:focus, select:focus, .form-control:focus {
  color: rgba(21, 34, 80, 0.4);
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0;
}

.label-title {
  width: 100%;
  margin: 0 0 16px;
  font-weight: 500;
  text-align: left;
}

textarea, textarea.form-control {
  resize: none;
  padding: 20px;
  height: 154px;
}

.form-callback {
  margin: 50px auto 0;
  width: 100%;
  max-width: 735px;
  margin-left: auto;
}
.form-group.focus .label-title {
  color: #6fafd3;
}
.form-group.focus input, .form-group.focus textarea, .form-group.focus .form-control {
  -webkit-box-shadow: 4px 4px 0px 0px rgba(130, 187, 219, 0.5);
          box-shadow: 4px 4px 0px 0px rgba(130, 187, 219, 0.5);
  border-color: #6fafd3;
}
.form-group-error {
  color: #D076A1;
}
.form-group-error input, .form-group-error textarea, .form-group-error .form-control {
  -webkit-box-shadow: 4px 4px 0px 0px rgba(208, 118, 161, 0.5);
          box-shadow: 4px 4px 0px 0px rgba(208, 118, 161, 0.5);
  border-color: #D076A1;
}
.form-group.disabled .label-title {
  color: rgba(21, 34, 80, 0.3);
}
.form-group.disabled input, .form-group.disabled textarea, .form-group.disabled .form-control {
  color: rgba(21, 34, 80, 0.3);
  border-color: rgba(21, 34, 80, 0.3);
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "AvenirNextCyr", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px 24px 10px;
  font-size: 24px;
  line-height: normal;
  font-family: "Pobeda", sans-serif;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 50px;
}

.btn-md {
  padding: 24px 32px 16px;
  font-size: 32px;
  height: 73px;
}

.btn-accent-blue {
  background: #87c3e5;
  color: #fff;
  border: 1px solid #fff;
}
.btn-accent-blue:hover {
  background: #6fafd3;
  color: #fff;
  border: 1px solid #fff;
}
.btn-accent-blue:focus, .btn-accent-blue.active {
  background: #6fafd3;
  border-color: #152250;
  color: #fff;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(111, 175, 211, 0.4);
          box-shadow: 4px 4px 4px 0px rgba(111, 175, 211, 0.4);
}
.btn-accent-blue:disabled, .btn-accent-blue.disabled {
  opacity: 0.4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #87c3e5;
  color: #fff;
  border-color: transparent;
}

.btn-accent-green {
  background: #a3d076;
  color: #fff;
  border: 1px solid #fff;
}
.btn-accent-green:hover {
  background: #95c269;
  color: #fff;
  border: 1px solid #fff;
}
.btn-accent-green:focus, .btn-accent-green:active, .btn-accent-green.active {
  background: #95c269;
  border-color: #152250;
  color: #fff;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(149, 194, 105, 0.4);
          box-shadow: 4px 4px 4px 0px rgba(149, 194, 105, 0.4);
}
.btn-accent-green:disabled, .btn-accent-green.disabled {
  opacity: 0.4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #a3d076;
  color: #fff;
  border-color: transparent;
}

.btn-accent-turquoise {
  background: #76d0b5;
  color: #fff;
  border: 1px solid #fff;
}
.btn-accent-turquoise:hover {
  background: #6bbfa6;
  color: #fff;
  border: 1px solid #fff;
}
.btn-accent-turquoise:focus, .btn-accent-turquoise:active, .btn-accent-turquoise.active {
  background: #76d0b5;
  border-color: #152250;
  color: #fff;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(107, 191, 166, 0.4);
          box-shadow: 4px 4px 4px 0px rgba(107, 191, 166, 0.4);
}
.btn-accent-turquoise:disabled, .btn-accent-turquoise.disabled {
  opacity: 0.4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #76d0b5;
  color: #fff;
  border-color: transparent;
}

.btn-dark {
  background: #152250;
  color: #fff;
  border: 1px solid #fff;
}
.btn-dark:hover {
  background: #5c637f;
  color: #fff;
  border: 1px solid #fff;
}
.btn-dark:focus, .btn-dark:active, .btn-dark.active {
  background: #5c637f;
  border-color: #152250;
  color: #fff;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(92, 99, 127, 0.4);
          box-shadow: 4px 4px 4px 0px rgba(92, 99, 127, 0.4);
}
.btn-dark:disabled, .btn-dark.disabled {
  opacity: 0.2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #152250;
  color: #fff;
  border-color: transparent;
}

.btn-border-blue {
  background: #fff;
  border: 1px solid #87c3e5;
  color: #87c3e5;
}
.btn-border-blue:hover {
  border-color: #fff;
  background: #87c3e5;
  color: #fff;
}
.btn-border-blue:focus, .btn-border-blue:active, .btn-border-blue.active {
  -webkit-box-shadow: 4px 4px 4px 0px rgba(111, 175, 211, 0.4);
          box-shadow: 4px 4px 4px 0px rgba(111, 175, 211, 0.4);
  border-color: #fff;
  color: #fff;
  background: #6fafd3;
}
.btn-border-blue:disabled, .btn-border-blue.disabled {
  opacity: 0.6;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  color: #87c3e5;
  border-color: #87c3e5;
}

.btn-border-green {
  background: transparent;
  border: 1px solid #a3d076;
  color: #a3d076;
}
.btn-border-green:hover {
  border-color: #fff;
  background: #a3d076;
  color: #fff;
}
.btn-border-green:focus, .btn-border-green:active, .btn-border-green.active {
  -webkit-box-shadow: 4px 4px 4px 0px rgba(149, 194, 105, 0.4);
          box-shadow: 4px 4px 4px 0px rgba(149, 194, 105, 0.4);
  border-color: #fff;
  color: #fff;
  background: #95c269;
}
.btn-border-green:disabled, .btn-border-green.disabled {
  opacity: 0.6;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  color: #a3d076;
  border-color: #a3d076;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: 600;
  display: inline;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

h1, .h1 {
  width: 100%;
  margin: 0;
  font-family: "Pobeda", sans-serif;
  font-size: 90px;
  font-weight: bold;
  line-height: 83px;
}

h2, .h2 {
  width: 100%;
  margin: 0;
  font-family: "Pobeda", sans-serif;
  font-size: 64px;
  font-weight: bold;
  line-height: 60px;
  position: relative;
  z-index: 1;
}

h3, .h3 {
  width: 100%;
  margin: 0;
  font-family: "Pobeda", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
}

h4, .h4 {
  width: 100%;
  margin: 0;
  font-family: "Pobeda", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
}

h5, .h5 {
  width: 100%;
  margin: 0;
  font-family: "Pobeda", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
}

blockquote {
  font-size: 23px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1.15px;
  line-height: 190%;
}

.title-overlay {
  opacity: 0.7;
  line-height: 170px;
  font-size: 195px;
  font-weight: bold;
  color: #fff;
  font-family: "Pobeda", sans-serif;
  text-align: center;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.box-text {
  font-size: 16px;
  line-height: normal;
}

.box-text-md {
  font-size: 24px;
  line-height: 32px;
}

.text-article {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
}
.text-article ul, .text-article p {
  margin: 0 0 48px;
}
.text-article ul:last-child, .text-article p:last-child {
  margin: 0;
}

.subtitle-text {
  font-size: 24px;
  font-weight: bold;
  font-family: "Adagioscript", sans-serif;
}

.text-decoration {
  text-decoration: underline;
}

.d-inline {
  display: inline;
}

.container {
  max-width: 1518px;
  padding: 0 16px;
}

.container-fluid {
  padding: 0 25px;
}

.row {
  margin: 0 -12px;
}
.row > * {
  padding: 0 12px;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown-toggle::after {
  content: "";
  margin: 0 0 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 11px;
  height: 6px;
  background: url("../img/arrow-dropdown.svg") no-repeat center;
  background-size: 100%;
  border: none;
}

.dropdown-menu {
  border-radius: 0;
  border: 1px solid #87c3e5;
  padding: 0;
  min-width: 240px;
  margin: 0;
  background: #fff;
  font-size: 16px;
  font-family: "AvenirNextCyr", sans-serif;
}

.dropdown-item {
  width: 100%;
  padding: 16px;
  border: 1px solid #D8E0E5;
  background: #f2f6f8;
  color: #152250;
}
.dropdown-item:hover {
  border-color: #87c3e5;
  color: #152250;
  background: #f2f6f8;
}
.dropdown-item:focus, .dropdown-item:active, .dropdown-item:active {
  background: #87c3e5;
  border-color: #87c3e5;
  color: #fff;
}

.link-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Adagioscript", sans-serif;
  font-size: 24px;
  line-height: normal;
  padding: 0 0 4px;
}
.link-page svg {
  width: 28px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 4px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.link-page:hover svg {
  margin: 0 0 0 12px;
}
.link-page:focus, .link-page:active, .link-page.active {
  background: #e7eef2;
}
.link-page-white {
  color: #fff;
}
.link-page-white svg {
  fill: #fff;
}
.link-page-white:hover {
  color: #fff;
}
.link-page-white:focus, .link-page-white:active, .link-page-white.active {
  color: #fff;
}
.link-page-green {
  color: #a3d076;
}
.link-page-green svg {
  fill: #a3d076;
}
.link-page-green:hover, .link-page-green:focus, .link-page-green:active, .link-page-green.active {
  color: #a3d076;
}
.link-page-green.disabled, .link-page-green:disabled {
  opacity: 0.5;
  color: #a3d076;
}
.link-page-blue {
  color: #87c3e5;
}
.link-page-blue svg {
  fill: #87c3e5;
}
.link-page-blue:hover, .link-page-blue:focus, .link-page-blue:active, .link-page-blue.active {
  color: #87c3e5;
}
.link-page-blue.disabled, .link-page-blue:disabled {
  opacity: 0.5;
  color: #87c3e5;
}
.link-page-turquoise {
  color: #76d0b5;
}
.link-page-turquoise svg {
  fill: #76d0b5;
}
.link-page-turquoise:hover, .link-page-turquoise:focus, .link-page-turquoise:active, .link-page-turquoise.active {
  color: #76d0b5;
}
.link-page-turquoise.disabled, .link-page-turquoise:disabled {
  opacity: 0.5;
  color: #76d0b5;
}
.link-page-dark {
  color: #152250;
}
.link-page-dark svg {
  fill: #152250;
}
.link-page-dark:hover, .link-page-dark:focus, .link-page-dark:active, .link-page-dark.active {
  color: #152250;
}
.link-page-dark.disabled, .link-page-dark:disabled {
  opacity: 0.5;
  color: #152250;
}

.color-accent-green {
  color: #a3d076;
}

a.color-accent-green:hover {
  color: #95c269;
}

.color-accent-blue {
  color: #87c3e5;
}

a.color-accent-blue:hover {
  color: #6fafd3;
}

.color-accent-turquoise {
  color: #76d0b5;
}

.color-light-blue {
  color: #f2f6f8;
}

.bg-accent-green {
  background: #a3d076;
}

.bg-accent-blue {
  background: #87c3e5;
}

.bg-accent-turquoise {
  background: #76d0b5;
}

.bg-light-blue {
  background: #f2f6f8;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-42 {
  margin-bottom: 42px;
}

.mb-46 {
  margin-bottom: 46px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.p-120 {
  padding: 120px 0;
}

.slick-slider {
  width: 100%;
  position: relative;
  z-index: 1;
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  width: 126px;
  height: 126px;
  min-width: 126px;
  background: #87c3e5;
  fill: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 36px 35px;
  z-index: 2;
}

.slick-arrow-green {
  background: #a3d076;
}

.slick-arrow-border-green {
  border: 1px solid #a3d076;
  background: #fff;
  fill: #a3d076;
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  padding: 24px;
}

.slick-dots {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 0;
}
.slick-dots li {
  cursor: pointer;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 11px 0 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid #152250;
  background: #fff;
}
.slick-dots li.slick-active {
  background: #152250;
}
.slick-dots li:last-child {
  margin: 0;
}
.slick-dots li button {
  display: none;
}

.counter-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 54px;
  font-family: "Pobeda", sans-serif;
  font-weight: bold;
  line-height: 52px;
}
.counter-slide .cp {
  min-width: 49px;
  text-align: center;
}
.counter-slide::before {
  content: "";
  width: 75px;
  height: 1px;
  background: #152250;
  margin: 0 10px;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-social li {
  margin: 0 16px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  background: #87c3e5;
  fill: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 62px;
  height: 62px;
  min-width: 62px;
  padding: 15px;
  border: 1px solid #87c3e5;
}
.list-social li a:hover {
  background: #fff;
  fill: #87c3e5;
}
.list-social li a:focus {
  background: #6fafd3;
  border-color: #6fafd3;
  fill: #fff;
}

.page {
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  padding: 120px 0 106px;
}
.page .title-overlay {
  opacity: 0.1;
  top: -27px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.nav-breadcrumb {
  width: 100%;
  margin: 0 0 16px;
}

.breadcrumb {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "AvenirNextCyr", sans-serif;
  margin: 4px 0;
}
.breadcrumb li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb li.active {
  opacity: 0.5;
  color: #fff;
}
.breadcrumb a {
  color: #fff;
  white-space: nowrap;
}

.breadcrumb-v2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.breadcrumb-v2 li.active {
  color: rgba(21, 34, 80, 0.3);
}
.breadcrumb-v2 a {
  color: #152250;
}
.breadcrumb-v2 .breadcrumb-item + .breadcrumb-item::before {
  color: #152250;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 6px;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding-right: 6px;
  color: #fff;
  opacity: 1;
}

.list-filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
  font-weight: bold;
  font-family: "Pobeda", sans-serif;
}
.list-filter li {
  margin: 0 24px 0 0;
}
.list-filter li:last-child {
  margin: 0;
}
.list-filter li a {
  color: #5c637f;
}
.list-filter li a:hover, .list-filter li a.active {
  color: #a3d076;
  text-decoration: underline;
}

.nav-pagination {
  width: 100%;
  margin: 5px 0 0;
}

.pagination {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination .page-item {
  margin: 0 4px 0 0;
}
.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
  border-radius: 0;
}
.pagination .page-item.active .page-link {
  background: #fff;
  border-color: #a3d076;
  color: #a3d076;
}
.pagination .page-link {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 8px 5px 2px;
  width: 50px;
  height: 50px;
  min-width: 50px;
  fill: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  color: #a3d076;
  background: #fff;
  font-size: 32px;
  font-weight: bold;
  font-family: "Pobeda", sans-serif;
  cursor: pointer;
}
.pagination .page-link:hover, .pagination .page-link.active {
  background: #fff;
  border-color: #a3d076;
  color: #a3d076;
}
.pagination .page-link-arrow {
  border: none;
  background: #a3d076;
  padding: 5px;
}

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  width: 96px;
  border: 1px solid #a3d076;
  height: 50px;
}
.amount input {
  padding: 0;
  border: none;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  color: #a3d076;
  font-family: "Pobeda", sans-serif;
  height: 50px;
  width: 24px;
  background: transparent;
}
.amount span {
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  stroke: #a3d076;
  cursor: pointer;
}

.amount-v2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  background: #fff;
  border: 1px solid #a3d076;
  height: 73px;
  min-width: 200px;
  margin: 0 auto 0 0;
}
.amount-v2 input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  color: #a3d076;
  font-family: "Pobeda", sans-serif;
}
.amount-v2 .down, .amount-v2 .up {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  min-width: 24px;
  height: 24px;
  stroke: #a3d076;
}

.label-radio {
  width: 100%;
  cursor: pointer;
  color: #152250;
  font-family: "AvenirNextCyr", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative;
  z-index: 1;
}
.label-radio input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #152250;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.label-radio input:checked {
  -webkit-box-shadow: 4px 4px 0px 0px rgba(130, 187, 219, 0.4);
          box-shadow: 4px 4px 0px 0px rgba(130, 187, 219, 0.4);
}
.label-radio input:checked + .label-radio__custom::before {
  opacity: 1;
}
.label-radio__custom {
  position: relative;
  width: 18px;
  height: 18px;
  min-width: 18px;
  border-radius: 50%;
  margin: 0 18px 0 0;
  border: 1px solid #152250;
}
.label-radio__custom::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #152250;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  color: #152250;
  font-family: "AvenirNextCyr", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}

.label-file {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.label-file input {
  display: none;
}

.list-label {
  width: 100%;
}
.list-label li {
  width: 100%;
  margin: 0 0 24px;
}
.list-label li:last-child {
  margin: 0;
}