$default-font: 'AvenirNextCyr', sans-serif
$title-font: 'Pobeda', sans-serif

// colors vars
$accent-blue: #87c3e5
$accent-blue-deep: #6fafd3
$accent-green: #a3d076
$accent-green-deep: #95c269
$accent-turquoise: #76d0b5
$accent-turquoise-deep: #6bbfa6
$turquoise-gradient: linear-gradient(180deg, #76D0B5 0%, rgba(118, 208, 181, 0.00) 100%)
$dark: #152250
$dark-light: #5c637f
$dark-30: #152250
$dark-80: #00272b
$gray: #D8E0E5
$gray2: #e7eef2
$light-blue: #f2f6f8
$blue-gradient: linear-gradient(180deg, #A7CCE1 0%, rgba(167, 204, 225, 0.00) 100%)
$white: #fff
$white-30: rgba(255, 255, 255, 0.30)
$white-60: rgba(255, 255, 255, 0.60)
$white-80: rgba(255, 255, 255, 0.80)
$white-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%)
$white-blue-gradient: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%)



@mixin d-flex()
  display: flex
  align-items: center
  justify-content: center
