@import 'vars'

// home
.home
	position: relative
	z-index: 1
	overflow: hidden
	padding: 120px 0

.home-bg-slider
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	z-index: -1
	.slick-list
		width: 100%
		height: 100%
	.slick-track
		height: 100%
	&__item
		width: 100%
		height: 100%
		@include d-flex
		>img:not(.img-decor)
			width: 100%
			height: 100%
			object-fit: cover

.img-decor
	position: absolute
	z-index: 1
	@include d-flex

.img-decor1
	left: 0
	top: 0

.img-decor2
	bottom: 0
	left: 50%
	transform: translate(-50%,0)
	max-width: 1486px
	width: 100%
	text-align: right
	align-items: flex-end
	justify-content: flex-end

.home-overlay
	padding: 24px
	width: 100%
	border: 1px solid transparent
	border-image: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%) 1
	background: $white-30
	backdrop-filter: blur(7.5px)
	position: relative
	z-index: 1
	.decor-line1
		width: 217px
	.decor-line2
		height: 120px
	.decor-line3
		width: 214px
		height: 1px
		left: 100%
		bottom: -1px
		background: linear-gradient(268deg, rgba(255, 255, 255, 0) 0%, #FFF 100%)
	.decor-line4
		width: 1px
		height: 120px
		top: 100%
		left: -1px
		background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FFF 100%)

.home-wrapper
	width: 100%
	min-height: 675px
	border: 1px solid transparent
	border-image: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%) 1
	background: $white-30
	position: relative
	z-index: 1
	display: flex
	align-items: center

.home-slider
	max-width: 682px
	width: 100%
	&-item
		width: 100%
		position: relative
		padding: 72px

	.box-text-md
		margin: 16px 0 62px
		max-width: 500px
	&__nav
		position: absolute
		right: 0
		bottom: 0
		z-index: 1
		border: 1px solid $gray

.home-image-slider
	position: absolute
	left: 445px
	top: -115px
	max-width: 1100px
	z-index: -1

.decor-line
	position: absolute
	z-index: -1
	background: $blue-gradient

.decor-line1
	height: 1px
	right: 100%
	top: -1px
	background: linear-gradient(267deg, #A7CCE1 0%, rgba(167, 204, 225, 0) 100%)

.decor-line2
	right: -1px
	bottom: 100%
	width: 1px
	background: linear-gradient(0deg, #A7CCE1 0%, rgba(167, 204, 225, 0.00) 100%)

// about
.about
	padding: 113px 0 253px
	background: #fff
	position: relative
	z-index: 1
	.title-overlay
		bottom: 0
		top: auto
		transform: translate(-50%,0)
		color: $light-blue
		font-size: 260px
		opacity: 1

.about-image
	position: relative
	z-index: 1
	background: #fff
	border: 1px solid $accent-blue
	padding: 24px
	width: 100%
	height: 357px
	@include d-flex
	&__bg
		width: 100%
		height: 100%
		border: 1px solid $accent-blue
		@include d-flex
		img
			width: 100%
			height: 100%
			object-fit: cover
	&__img
		position: absolute
		z-index: 1
		left: 188px
		top: -145px
		max-width: 405px
		width: 100%
		@include d-flex
		img
			width: 100%
	.decor-line1
		width: 754px
	.decor-line2
		height: 123px
		right: auto
		left: -1px
	.decor-line3
		height: 223px
		right: -1px
		bottom: 100%
		width: 1px
		background: linear-gradient(0deg, #A7CCE1 0%, rgba(167, 204, 225, 0.00) 100%)
	.decor-line4
		width: 754px
		height: 1px
		right: 100%
		bottom: -1px
		background: linear-gradient(267deg, #A7CCE1 0%, rgba(167, 204, 225, 0) 100%)

.about-box
	display: flex
	align-items: center
	font-weight: 500
	&__icon
		padding: 15px
		@include d-flex
		width: 62px
		height: 62px
		min-width: 62px
		margin: 0 24px 0 0
	&__text
		max-width: 210px

// our-factory
.our-factory
	position: relative
	overflow: hidden
	z-index: 1
	padding: 109px 0 168px
	&__content
		position: relative
		z-index: 2
		min-width: 605px
		border: 1px solid $accent-blue
		background: $white-80
		backdrop-filter: blur(7.5px)
		margin: 0 auto 0 0
		float: right
		padding: 48px
		.box-text
			font-weight: 500
			margin: 48px 0
		.decor-line3
			right: 0
			top: 100%
			width: 1px
			height: 250px
			background: $blue-gradient
	&__video
		height: 542px
		position: relative
		z-index: 1
		max-width: 934px
		width: 100%
		margin: 0 0 0 auto
		padding: 24px
		background: #fff
		border: 1px solid $accent-blue
		.decor-line1
			top: auto
			bottom: 100%
			width: 1px
			height: 120px
			background: linear-gradient(0deg, #A7CCE1 0%, rgba(167, 204, 225, 0.00) 100%)
		&::before
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			@include d-flex
			width: 110px
			height: 110px
			background: url('../img/play.svg') no-repeat center
			background-size: 100%
		img
			width: 100%
			height: 100%
			object-fit: cover

// our-production
.our-production
	padding: 112px 0 118px

.our-production-card
	width: 100%
	height: 100%
	min-height: 489px
	background: #fff
	border: 1px solid	transparent
	padding: 24px
	&.bg-accent-blue
		border-color: $accent-blue
		.our-production-card__wrapper
			background: $accent-blue
	&.bg-accent-green
		border-color: $accent-green
		.our-production-card__wrapper
			background: $accent-green
	&.bg-accent-turquoise
		border-color: $accent-turquoise
		.our-production-card__wrapper
			background: $accent-turquoise
	&__image
		position: absolute
		right: 0
		top: 50%
		transform: translate(0,-50%)
		height: 100%
		display: flex
		align-items: flex-end
		justify-content: flex-end
		z-index: -1
		img
			width: 100%
			height: 100%
			object-fit: cover
	&__wrapper
		width: 100%
		height: 100%
		position: relative
		z-index: 1
		overflow: hidden
		padding: 20px 25px
	&__content
		height: 100%
		display: flex
		flex-direction: column
		justify-content: flex-end
	&__title
		color: #fff
		margin: 0 0 8px
		&:hover
			color: #fff
	&__overlay
		position: absolute
		z-index: -1
		font-size: 240px
		font-family: $title-font
		line-height: 200px
		font-weight: bold
		color: #fff
		opacity: 0.1
		left: 0
		top: 0

// .sales-geography
.sales-geography
	padding: 114px 0 118px
	.title-overlay
		color: $light-blue
	&__map
		position: absolute
		z-index: -1
		width: 100%
		top: 0
		left: 0
		@include d-flex
		img
			width: 100%
	&__content
		position: relative
		z-index: 1
		margin: auto 0 0 auto
		max-width: 606px
		width: 100%
		border: 1px solid $accent-turquoise
		background: $white-60
		backdrop-filter: blur(9px)
		padding: 54px
		h3
			max-width: 390px
	.decor-line1
		width: 251px
		right: 100%
		top: 100%
		height: 1px
		background: linear-gradient(270deg, #76D0B5 0%, rgba(118, 208, 181, 0) 100%)
	.decor-line2
		width: 1px
		height: 341px
		left: 100%
		bottom: 100%
		background: linear-gradient(0deg, #76D0B5 0%, rgba(118, 208, 181, 0) 100%)

.sales-geography-wrapper
	width: 100%
	position: relative
	z-index: 1
	padding: 490px 20px 120px

.list-country
	width: 100%
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	margin: 24px 0 0
	text-transform: capitalize
	font-weight: 500
	max-width: 350px
	li
		padding: 16px 0
		position: relative
		display: flex
		align-items: center
		margin: 0 24px 0 0
		&:last-child
			margin: 0
		&::before
			content: ''
			display: inline-block
			margin: 0 8px 0 0
			width: 4px
			height: 4px
			min-width: 4px
			background: $accent-blue

// dealers
.dealers
	background: url('../img/dealers-bg.jpg') no-repeat center
	background-size: cover
	position: relative
	z-index: 1
	overflow: hidden
	padding: 120px 0 0

	h2
		max-width: 520px
		margin: 0 auto 29px
	.btn
		margin: 0 auto

.text-overlay
	text-align: center
	width: 100%
	margin: 0 auto -52px
	font-size: 195px
	font-family: $title-font
	font-weight: bold
	line-height: 170px
	color: $white-30
	opacity: 0.4
	-webkit-text-stroke: 1px #fff

.dealers-overlay
	position: relative
	z-index: 1
	margin: 0 auto
	width: 100%
	max-width: 984px
	padding: 24px
	background: $white-30
	border: 1px solid $light-blue
	backdrop-filter: blur(7.5px)
	text-align: center
	.decor-line1
		width: 467px
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFF 100%)
	.decor-line2
		height: 120px
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 100%)
	.decor-line3
		width: 466px
		height: 1px
		left: 100%
		top: 100%
		background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFF 100%)
	.decor-line4
		background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FFF 100%)
		height: 120px
		width: 1px
		top: 100%
		right: 100%

.dealers-wrapper
	border: 1px solid #fff
	background: $white-30
	width: 100%
	padding: 47px

.slogan
	margin: 0 auto 29px
	font-size: 24px
	font-weight: bold
	font-family: 'Adagioscript', sans-serif

// our-news
.our-news
	padding: 120px 0
	.subtitle-text
		margin: -15px 0 0

.news-card
	width: 100%
	height: 100%
	&__img
		padding: 24px
		width: 100%
		height: 351px
		background: #fff
		border: 1px solid transparent
		border-bottom: none
		img
			border: 1px solid transparent
			width: 100%
			height: 100%
			object-fit: cover
	&__body
		width: 100%
		background: #fff
		padding: 24px
		border: 1px solid transparent
	.box-text
		margin: 10px 0 24px

	&-green
		.news-card__img
			border-color: $accent-green
			img
				border-color: $accent-green
		.news-card__body
			border-color: $accent-green
	&-blue
		.news-card__img
			border-color: $accent-blue
			img
				border-color: $accent-blue
		.news-card__body
			border-color: $accent-blue

// reviews
.reviews
	padding: 111px 0 27px
	background: #fff
	.title-overlay
		left: -50%
		transform: translate(0,-50%)
	h2
		width: fit-content

.reviews-slider
	padding: 0 114px
	.slick-slide
		padding: 0 12px
	.slick-track
		display: flex
		align-items: flex-end
	.slick-arrow
		position: absolute
		bottom: 0
	.slick-prev
		left: 0
	.slick-next
		right: 0
	&__nav
		margin: 15px 0 0 auto
		width: fit-content

.reviews-card
	padding: 40px 30px 40px 40px
	background: #fff
	width: 100%
	border: 1px solid $accent-blue
	&__position
		color: $accent-blue
		font-family: $font2
		font-size: 24px
		font-weight: bold
	.box-text
		margin: 32px 0 0
		max-width: 437px

// callback-section
.callback-section
	background: url("../img/callback-bg.png") no-repeat center 64px
	background-size: cover
	position: relative
	overflow: hidden
	padding: 120px 0 0
	.text-overlay
		text-align: right
		max-width: 1037px
		margin: 0 auto -52px
	h2
		text-align: center	

.callback-overlay
	text-align: left
	border-width: 1px
	border-style: solid
	border-image: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%) 1
	.decor-line1
		width: 468px
		background: linear-gradient(270deg, #A7CCE1 0%, #FFF 100%)
	.decor-line2
		height: 120px
		background: linear-gradient(0deg, #A7CCE1 0%, #FFF 100%)
	.decor-line3
		width: 466px
		height: 1px
		left: 100%
		top: 100%
		background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFF 100%)
	.decor-line4
		background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FFF 100%)
		height: 120px
		width: 1px
		top: 100%
		right: 100%

.callback-wrapper
	border-width: 1px
	border-style: solid
	border-image: linear-gradient(180deg, #A7CCE1 0%, #FFF 100%) 1
	padding: 54px
	.box-text
		max-width: 341px
		text-align: center
		margin: 0 auto

.consent
	max-width: 358px

// news page
.card-col
	display: none
	&:nth-child(-n+6)
		display: block
			

// contacts page
.contacts-section
	padding: 120px 0 108px


.contacts-box
	width: 100%
	background: #fff
	text-align: center
	padding: 48px
	border: 1px solid $accent-blue
	transition: .3s ease
	&:hover
		box-shadow: 24px -24px 0px 0px #87C3E5
	&__icon
		@include d-flex
		background: $accent-blue
		fill: #fff
		margin: 0 auto 22px
		padding: 15px
		width: 62px
		height: 62px
	h4
		margin: 0 auto 8px	
	&__link
		margin: 0 auto 20px
		text-decoration: underline
		color: $accent-blue-deep

		&:last-child
			margin: 0 auto



.address-manufacturer
	position: relative
	z-index: 1
	&::before
		content: ''
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		height: 50%
		z-index: -1
		background: #fff
	.address-box
		margin: 16px auto
	&__map
		width: 100%
		height: 600px
		background: #fff
		border: 1px solid $accent-blue
		padding: 24px
		iframe
			width: 100%
			height: 100%

// dealers page
.advantages-work
	position: relative
	z-index: 1
	h2
		margin: 113px 0 54px
		width: 50%
	&__img
		background: #fff
		border: 1px solid $accent-blue
		padding: 24px
		@include d-flex
		max-width: 618px
		width: 100%
		position: relative
		z-index: 1

.advantages-work__img1
	margin: -80px 0 -112px

.advantages-work-list
	width: 100%
	display: flex
	align-items: stretch
	flex-wrap: wrap
	&-item
		width: 50%
		display: flex
		align-items: center
		border: 1px solid $accent-blue
		padding: 24px
		&:first-child, &:nth-child(2)
			border-bottom: none
		&:nth-child(odd)
			border-right: none	
		&__icon
			@include d-flex
			width: 62px
			height: 62px
			min-width: 62px
			padding: 11px
		&__text
			padding: 0 0 0 24px

.advantages-work__img2
	box-shadow: -24px 24px 0px 0px #87C3E5
	max-width: 372px
	margin: 0 0 0 auto
	border-top: none

.advantages-work-column
	width: 50%	
	&:nth-child(2)
		margin: -30px 0 0

.cooperation-section
	padding: 240px 0 0

	.text-overlay
		text-align: left
		max-width: 984px
	.box-text
		max-width: 380px
	.decor-line2
		height: 240px

// payments-section
.payments-section
	padding: 120px 0 100px	

.payments-card
	position: relative
	z-index: 1
	width: 100%
	background: #fff
	border: 1px solid $accent-blue
	padding: 48px
	backdrop-filter: blur(5px)
	transition: .3s ease
	&:hover
		box-shadow: 40px 40px 0px 0px #87C3E5
	h2, .h2
		color: $accent-blue-deep	
	&-box
		margin: 48px 0 0
	h3
		margin: 0 0 8px	
	&__description
		margin: 48px 0 0
		font-size: 18px
		font-weight: bold
		font-style: italic
		color: $accent-blue-deep

.delivery-section
	padding: 0 0 95px
	h3
		max-width: 295px
	
.delivery-title
	h4
		font-family: $font2
		line-height: 28px	

.delivery-box
	width: 100%
	height: 100%
	padding: 24px
	text-align: center
	background: #fff
	border: 1px solid $accent-blue
	font-weight: 500
	&__logo
		@include d-flex
		height: 80px
		width: 100%
		margin: 0 auto 16px
		img
			max-height: 100%